.film-cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.film-cart {
    cursor: pointer;
    padding: 5px;
    margin: 15px;
    border: 1px solid black;
    max-width: 24vw;
    text-align: center;
}

.film-cart p {
    /* max-width: 15vw; */
    text-align: center;
    word-break: break-all;
}

.film-cart img{
    width: 100%;
}